@import '../App.scss';

.main {
	grid-area: main;
	background-color: var(--light);
	padding: 0.25rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;

	&__card {
		flex-basis: 100%;
		margin: 1rem;
		background-color: #fff;
		box-shadow: 2px 2px 8px var(--dark);
		color: var(--dark);
		padding: 1rem;
		font-family: Verdana, Tahoma, sans-serif;
		
		&-title {
			margin: 0 auto 0.5rem;
			text-align: center;
			transition: opacity 1s;
		}
		
		&-text {
			margin: 0;
			font-size: 1rem;
			transition: opacity 1s;
		}
	}

	&__slide {
		background-color: #fff;
		box-shadow: 2px 2px 8px var(--dark);

		flex-basis: 100%;
		margin: 0.5rem;
		padding: 0.25rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-text {
			margin: 0;
			padding: 0;
		}
	}
}

@media (min-width: 768px) and (orientation: landscape) {
	.main {
		&__card {
			flex-basis: 45%;
		}
	}
}
